td
{
    text-align: center;
    vertical-align: middle;
}

matiere
{
    display: block;
}

full-screen
{
    position: absolute;
}

.heure, .Jours td
{
    font-weight: bold;
}

table a
{
    border: none;
}

table a:hover
{
    
    border-bottom: 2px dotted;
    border-bottom: 2px dotted rgb(0, 0, 0, 0.5);
}

